@font-face {
    font-family: 'Nunito';
    src: url('fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marcellus';
    src: url('fonts/Marcellus-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Nunito', sans-serif;
    background-color: #fbf9f8;
}

.header-section {
    outline: 1px solid #0B0A0A;
    border-radius: 8px;
    padding: 0 100px;
    background-color: #fbf9f8;
    color: #0B0A0A;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar li {
    list-style: none;
    margin: 0 15px;
}
.nav-link {
    font-family: 'Nunito', sans-serif !important;
    text-decoration: none;
    color: #0B0A0A;
    padding: 10px 15px;
    display: block;
}

.nav-btn {
    font-family: 'Nunito', serif;
    text-decoration: none;
    background-color: #EF560F;
    color: #fbf9f8;
    font-size: 14px;
    line-height: 16px;
    padding: 12px;
    border-radius: 20px;
    display: inline-block;
}


.hero-section {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: #E5D4CB; 
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    padding: 100px;
}

.hero-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px;
    width: 100%;
    padding: 0 50px;
}

.col {
    flex: 1; 
}

.hero-heading {
    font-family: 'Marcellus',sans-serif;
    font-size: 100px;
    color: #333;
    font-weight: lighter;
}
.hero-p{
    margin-top: 15px;
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    color: #333;
}
.hero-btn1{
    font-family: 'Nunito',sans-serif;
    text-decoration: none;
    background-color: #EF560F;
    color: #E5D4CB;
    font-size: 14px;
    padding: 12px;
    line-height: 16px;
    border-radius: 20px;
    display: inline-block;
}
.hero-btn2{
    margin-left: 15px;
    font-family: 'Nunito',sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 12px;
    line-height: 16px;
    border: 1px solid #333;
    border-radius: 20px;
    display: inline-block;
}

.hero-img {
    width: 100%;
    max-width: 500px;
    background-color: #D0C1B9;
}
.row{
    width: 500px;
    align-items: center;
    margin-top: 20px ;
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.col-hero h1{
    font-family: 'Nunito',sans-serif;
    font-size: 36px;
    padding: 0;
    margin: 0;
}
.col-hero p{
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.agency-img{
    display: unset;
    width:100px ;
    z-index: 1000;
    align-self: center;
    justify-self: center;
}

.about-section {
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fbf9f8;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.about-heading {
    font-family: 'Marcellus', sans-serif;
    font-size: 72px;
    margin-bottom: 50px; 
}

.about-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}

.col-about {
    margin: 0 25px;
    padding: 20px;
    background-color: #E5D4CB;
    border-radius: 200px;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.line {
    border-radius: 8px;
    width: 40%; 
    height: 5px; 
    background-color: #000; 
    margin-top: 10px; 
}
.about-png {
    width: 52px;
    margin-bottom: 25px; 
}

.col-heading {
    font-family: 'Nunito',sans-serif;
    font-weight: lighter;
    color:#333 ;
    font-size: 16px;
    margin-bottom: 5px;
}

.col-p {
    font-family: 'Nunito',sans-serif;
    color: #0B0A0A;
    font-size: 24px;

}
.more-section{
    display: flex;
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    height: 50vh;
    background-color: #0B0A0A;
    align-items: center;
    padding: 100px;
}
.more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-heading{
    text-align: left;
    font-family: 'Marcellus',sans-serif;
    font-size: 72px;
    color: #fbf9f8;
    font-weight: lighter;
}
.highlight{
    color: #EF560F;
}
.circle-button-more{
    margin-left: 50px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    background-color: #EF560F;
    color: #fbf9f8;
}
.circle-button-more:hover{
    color: #EF560F;
    border: 1px solid #EF560F;
    background-color: transparent;
}
.portfolio-section{
    display: flex;
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    background-color: #fbf9f8;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.portfolio-texts{
    text-align: left;
    width: 100% ;
    margin-left: 50px;
    margin-bottom: 40px;
}
.portfolio-heading{
    font-family: 'Marcellus',sans-serif;
    font-size: 72px;
    color: #0B0A0A;
    font-weight: lighter;
    margin: 0;
}

.portfolio-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    max-width: 1200px;
    width: 100%;
}

.card {
    width: 100%; 
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); 
}
.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
.card-img-top {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.card-title {

    text-align: left;
    font-family: 'Nunito',sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}

.portfolio-btn{
    margin-top: 2px;
    margin-right: 8px;
    font-family: 'Nunito',sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 10px;
    padding: 8px;
    line-height: 12px;
    border: 1px solid #333;
    border-radius: 20px;
    display:inline-block;
}
.circle-button {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}

.circle-button:hover {
    background-color: #000;
    color: #fff;
}
.client-section{
    padding: 100px;
    display: flex;
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    background-color: #0B0A0A;
    flex-direction: column;
}
.feedback-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 30px 0;
}
.client-header{
    margin: 0;
    font-family: 'Nunito',sans-serif;
    font-size: 32px;
    color: #fbf9f8;
    font-weight: lighter;
    text-decoration: underline;
}
.circle-buttons{
    display: flex;
    gap: 10px;
}

.circle-button-client{
    width: 50px;
    height: 50px;
    border: 1px solid #fbf9f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fbf9f8;
}
.circle-button-client:hover{
    background-color: #fbf9f8;
    color: #000;
}
.feedback-second{
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.feedback{
    margin: 0;
    font-family: 'Nunito',sans-serif;
    font-size: 48px;
    color: #fbf9f8;
    font-weight: lighter;
}
.client-img{
    width: 300px;
    height: 300px;
    border: 1px solid #fbf9f8;
    border-radius: 50%;
}
.team-section{
    padding: 100px;
    display: flex;
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    background-color: #fbf9f8;
    flex-direction: column;
}
.team-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.team-heading{
    text-align: left;
}
.team-heading h1{
    margin: 0;
    font-family: 'Marcellus',sans-serif;
    font-size: 72px;
    font-weight: lighter;
    color: #0B0A0A;
}
.team-heading p{
    margin: 0;
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #0B0A0A;
}
.circle-button-team{
    margin-left: 50px;
    width: 120px;
    height: 120px;
    border: 1px solid #EF560F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #EF560F;
}
.circle-button-team:hover{
    color: #fbf9f8;
    background-color: #EF560F;
}
.team-cards{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.team-card{
    height: 400px;
    width: 100%; 
    overflow: hidden;
    transition: transform 0.3s ease;
}
.team-cars:hover{
    transform: translateY(-5px);
}
.team-img{
    background-color: #E5D4CB;
    width: 100%;
    height: 300px;
    object-fit:contain;
}
.team-card-body{
    text-align: center;
    font-family: 'Nunito',sans-serif;
    font-weight: lighter;

}
.team-card-body h1{
    font-size: 20px;
    color: #0B0A0A;
    margin: 5px;
}
.team-card-body p{
    font-size: 12px;
    color: #333;
    margin: 5px;
}
.recent-section{
    padding: 100px;
    display: flex;
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    background-color: #E5D4CB;
    flex-direction: column;
}.recent-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.recent-heading h1{
    text-align: left;
    font-family: 'Marcellus',sans-serif;
    font-size: 72px;
    font-weight: lighter;
}
.recent-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.recent-card{
    height: auto;
    width: 600px;
    background-color: #fbf9f8;
    padding: 20px;
}
.card-bottom{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.google{
    width: 30%;
}
.card-text{
    font-family: 'Nunito',sans-serif;
    font-size: 24px;
    margin-top: 15px;
}
.card-subtitle{
    font-family: 'Nunito',sans-serif;
    font-size: 8px;
    font-weight: lighter;
    color: #333;
    margin: 0;
}
.circle-button-r {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
}

.circle-button-r:hover {
    background-color: #000;
    color: #fff;
}
.end-section{
    padding: 50px;
    outline: 1px solid #0B0A0A;
    outline-offset: 0px;
    border-radius: 8px;
    display: flex;
    background-color: #0B0A0A;
    flex-direction: column;
}
.end-header{
    text-align: center;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.end-header h1{
    font-family: 'Marcellus',sans-serif;
    font-size:72px;
    font-weight: lighter;
    color: #fbf9f8;
}
.mini-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.logo-img{
    width: 72px;
    height: 72px;

}
.text-end h1{
    display: flex;
    font-family: 'Nunito',sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #fbf9f8;
    
}
.social-media{
    display: flex;
    gap: 10px;
}
.media-png{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fbf9f8;

}.text-end{
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.footer-logo{
    display: flex;
}
.end-btn{
    font-family: 'Nunito',sans-serif;
    text-decoration: none;
    background-color: #EF560F;
    color: #E5D4CB;
    font-size: 14px;
    padding: 12px;
    line-height: 16px;
    border-radius: 20px;
    
}